body{background:#f9f9f9;}
.login{width: 300px;padding:10px;left: 50%;margin-top:50px;margin-left: -160px;border: 10px solid #FFF;display: block;-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.1);box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
.mrg{margin-top:25px; margin-bottom:10px;}
.pagination {margin: 2px 0;}
.pad{padding:5px 5px;}
.mrg-1{margin-top: 5px;}
.asc{background: url('../img/sort_asc.png') no-repeat center right;cursor: pointer;display: block;}
.desc{background: url('../img/sort_desc.png') no-repeat center right;cursor: pointer;display: block;}
table tr th a{color:#000;background: url('../img/sort_both.png') no-repeat center right;cursor: pointer;display: block;}
table tr th a:hover{text-decoration: none;}
.error-message{color: #FF0000;}
