.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline:none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin:0;
	padding:0;
	list-style:none;
}
.flexslider {
	margin:0;
	padding:0;
	position:relative;
}
.flexslider .slides>li {
	display:none;
	-webkit-backface-visibility:hidden;
}
.flexslider .slides img {
	width:100%;
	display:block;
}
.promoslider .slides img {
	width:auto;
	display:block;
	margin:0 auto;
}
.flex-pauseplay span {
	text-transform:capitalize;
}
.slides:after {
	content:"\0020";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
html[xmlns] .slides {
	display:block;
}
* html .slides {
	height:1%;
}
.no-js .slides>li:first-child {
	display:block;
}
.flexslider {
	zoom:1;
}
.flex-viewport {
	max-height:2000px;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}
.loading .flex-viewport {
	max-height:300px;
}
.flexslider .slides {
	zoom:1;
}
.flex-direction-nav {
*height:0;
}
.flex-direction-nav a {
	width:50px;
	height:50px;
	position:absolute;
	top:50%;
	bottom:50%;
	margin-top:-25px;
	background:#EF4A43;
	z-index:10;
	text-align:center;
	color:#fff;
	padding:15px 0 0;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;
	opacity:0;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.flex-direction-nav .flex-prev {
	left:15px;
}
.flex-direction-nav .flex-next {
	right:15px;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	left:-25px;
}
.flexslider:hover .flex-direction-nav .flex-next {
	right:-25px;
}
.flexslider:hover .flex-direction-nav a {
	opacity:1;
}
.flexslider:hover .flex-direction-nav a:hover {
	background:#272727;
	color:#fff;
}
.flex-control-nav {
	width:100%;
	text-align:center;
	margin:20px 0 0;
}
.promoslider .flex-control-nav {
	position:absolute;
	bottom:20px;
	margin:0;
	z-index:3
}
.flex-control-nav li {
	display:inline-block;
	margin:0 2.5px;
}
.flex-control-nav li a {
	display:inline-block;
	text-indent:-99999px;
	width:15px;
	height:15px;
	background:#f0f0f0;
	border:3px solid #f0f0f0;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.flex-control-nav li a:hover {
	cursor:pointer;
}
.flex-control-nav li a.flex-active {
	background:#fff;
	border:3px solid #f0f0f0;
}
.flex-control-nav li a:hover {
	background:#EF4A43;
	border-color:#EF4A43;
}
.flex-control-nav li a.flex-active:hover {
	border-color:#EF4A43;
	background:#fff;
}
@media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {
	opacity:1;
	left:10px;
}
.flex-direction-nav .flex-next {
	opacity:1;
	right:10px;
}
}
.mfp-bg {
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1042;
	overflow:hidden;
	position:fixed;
	background:#0b0b0b;
	opacity:0.8;
	filter:alpha(opacity=80);
}
.mfp-wrap {
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1043;
	position:fixed;
	outline:none!important;
	-webkit-backface-visibility:hidden;
}
.mfp-container {
	text-align:center;
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 8px;
}
.mfp-container:before {
	content:'';
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
.mfp-content {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	text-align:left;
	z-index:1045;
	margin:0 auto;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
	width:100%;
	cursor:auto;
}
.mfp-ajax-cur {
	cursor:progress;
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor:zoom-out;
}
.mfp-zoom {
	cursor:zoom-in;
}
.mfp-auto-cursor .mfp-content {
	cursor:auto;
}
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
.mfp-hide {
	display:none!important;
}
.mfp-preloader {
	color:#ccc;
	position:absolute;
	top:50%;
	width:auto;
	text-align:center;
	margin-top:-.8em;
	left:8px;
	right:8px;
	z-index:1044;
}
.mfp-preloader a {
	color:#ccc;
}
.mfp-preloader a:hover {
	color:#FFF;
}
button.mfp-close, button.mfp-arrow {
	overflow:visible;
	cursor:pointer;
	background:transparent;
	border:0;
	-webkit-appearance:none;
	display:block;
	outline:none;
	z-index:1046;
	-webkit-box-shadow:none;
	box-shadow:none;
	padding:0;
	background:transparent;
}
button::-moz-focus-inner {
border:0;
padding:0;
}
.mfp-close {
	width:44px;
	height:44px;
	line-height:44px;
	position:absolute;
	right:0;
	top:0;
	text-decoration:none;
	text-align:center;
	opacity:0.65;
	color:#FFF;
	font-style:normal;
	font-size:28px;
	font-family:Arial, Baskerville, monospace;
	padding:0 0 18px 10px;
	background:transparent!important;
}
.mfp-close:active {
	top:1px;
}
.mfp-close-btn-in .mfp-close {
	color:#333;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	color:#FFF;
	right:-6px;
	text-align:right;
	padding-right:6px;
	width:100%;
}
.mfp-counter {
	position:absolute;
	top:0;
	right:0;
	color:#ccc;
	font-size:12px;
	line-height:18px;
}
.mfp-arrow {
	position:absolute;
	opacity:0.65;
	top:50%;
	width:90px;
	height:110px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	margin:-55px 0 0;
	padding:0;
}
.mfp-arrow:active {
	margin-top:-54px;
}
.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
	content:'';
	display:block;
	width:0;
	height:0;
	position:absolute;
	left:0;
	top:0;
	margin-top:35px;
	margin-left:35px;
	border:medium inset transparent;
}
.mfp-arrow:after, .mfp-arrow .mfp-a {
	border-top-width:13px;
	border-bottom-width:13px;
	top:8px;
}
.mfp-arrow:before, .mfp-arrow .mfp-b {
	border-top-width:21px;
	border-bottom-width:21px;
}
.mfp-arrow-left {
	left:0;
}
.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
	border-right:17px solid #FFF;
	margin-left:31px;
}
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
	margin-left:25px;
	border-right:27px solid #3f3f3f;
}
.mfp-arrow-right {
	right:0;
}
.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
	border-left:17px solid #FFF;
	margin-left:39px;
}
.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
	border-left:27px solid #3f3f3f;
}
.mfp-iframe-holder {
	padding-top:40px;
	padding-bottom:40px;
}
.mfp-iframe-holder .mfp-content {
	line-height:0;
	width:100%;
	max-width:900px;
}
.mfp-iframe-holder .mfp-close {
	top:-40px;
}
.mfp-iframe-scaler {
	width:100%;
	height:0;
	overflow:hidden;
	padding-top:56.25%;
}
.mfp-iframe-scaler iframe {
	position:absolute;
	display:block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	box-shadow:0 0 8px rgba(0,0,0,0.6);
	background:#000;
}
img.mfp-img {
	width:auto;
	max-width:100%;
	height:auto;
	display:block;
	line-height:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0 auto;
	padding:40px 0;
}
.mfp-figure {
	line-height:0;
}
.mfp-figure:after {
	content:'';
	position:absolute;
	left:0;
	top:40px;
	bottom:40px;
	display:block;
	right:0;
	width:auto;
	height:auto;
	z-index:-1;
	box-shadow:0 0 8px rgba(0,0,0,0.6);
	background:#444;
}
.mfp-figure small {
	color:#bdbdbd;
	display:block;
	font-size:12px;
	line-height:14px;
}
.mfp-bottom-bar {
	margin-top:-36px;
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	cursor:auto;
}
.mfp-title {
	text-align:left;
	line-height:18px;
	color:#f3f3f3;
	word-wrap:break-word;
	padding-right:36px;
}
.mfp-image-holder .mfp-content {
	max-width:100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
	cursor:pointer;
}
.mfp-ie7 .mfp-bottom-bar {
	width:600px;
	left:50%;
	margin-left:-300px;
	margin-top:5px;
	padding-bottom:5px;
}
.mfp-ie7 .mfp-content {
	padding-top:44px;
}
.mfp-ie7 .mfp-close {
	top:0;
	right:0;
	padding-top:0;
}
.mfp-align-top .mfp-container:before, .mfp-loading.mfp-figure, .mfp-s-ready .mfp-preloader, .mfp-s-error .mfp-content {
	display:none;
}
.mfp-close:hover, .mfp-close:focus, .mfp-arrow:hover, .mfp-arrow:focus {
	opacity:1;
}
.mfp-ie7 .mfp-img, .mfp-ie7 .mfp-container {
	padding:0;
}
@media screen and max-width 800px and orientation landscape, screen and max-height 300px {
.mfp-img-mobile .mfp-image-holder {
padding-left:0;
padding-right:0;
}
.mfp-img-mobile .mfp-figure:after {
top:0;
bottom:0;
}
.mfp-img-mobile .mfp-figure small {
display:inline;
margin-left:5px;
}
.mfp-img-mobile .mfp-bottom-bar {
background:rgba(0,0,0,0.6);
bottom:0;
top:auto;
position:fixed;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
margin:0;
padding:3px 5px;
}
.mfp-img-mobile .mfp-counter {
right:5px;
top:3px;
}
.mfp-img-mobile .mfp-close {
top:0;
right:0;
width:35px;
height:35px;
line-height:35px;
background:rgba(0,0,0,0.6);
position:fixed;
text-align:center;
padding:0;
}
.mfp-img-mobile img.mfp-img, .mfp-img-mobile .mfp-bottom-bar:empty {
padding:0;
}
}
@media all and max-width 900px {
.mfp-arrow {
-webkit-transform:scale(0.75);
transform:scale(0.75);
}
.mfp-arrow-left {
-webkit-transform-origin:0;
transform-origin:0;
}
.mfp-arrow-right {
-webkit-transform-origin:100%;
transform-origin:100%;
}
.mfp-container {
padding-left:6px;
padding-right:6px;
}
}
html, body, #sb-site, .sb-slidebar {
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
html, body {
	width:100%;
	overflow-x:hidden
}
html {
	height:100%
}
body {
	min-height:100%;
	position:relative
}
#sb-site {
	width:100%;
	position:relative;
	z-index:1;
	background-color:#fff
}
.sb-slidebar {
	height:100%;
	overflow-y:auto;
	position:fixed;
	top:0;
	z-index:0;
	visibility:hidden;
	background-color:#222
}
.sb-left {
	left:0
}
.sb-right {
	right:0
}
html.sb-static .sb-slidebar, .sb-slidebar.sb-static {
	position:absolute
}
.sb-slidebar.sb-active {
	visibility:visible
}
.sb-slidebar.sb-style-overlay {
	z-index:9999
}
.sb-slidebar {
	width:30%
}
.sb-width-thin {
	width:15%
}
.sb-width-wide {
	width:45%
}
@media(max-width:480px) {
.sb-slidebar {
	width:70%
}
.sb-width-thin {
	width:55%
}
.sb-width-wide {
	width:85%
}
}
@media(min-width:481px) {
.sb-slidebar {
	width:55%
}
.sb-width-thin {
	width:40%
}
.sb-width-wide {
	width:70%
}
}
@media(min-width:768px) {
.sb-slidebar {
	width:40%
}
.sb-width-thin {
	width:25%
}
.sb-width-wide {
	width:55%
}
}
@media(min-width:992px) {
.sb-slidebar {
	width:30%
}
.sb-width-thin {
	width:15%
}
.sb-width-wide {
	width:45%
}
}
@media(min-width:1200px) {
.sb-slidebar {
	width:20%
}
.sb-width-thin {
	width:5%
}
.sb-width-wide {
	width:35%
}
}
.sb-slide, #sb-site, .sb-slidebar {
	-webkit-transition:-webkit-transform 400ms ease;
	-moz-transition:-moz-transform 400ms ease;
	-o-transition:-o-transform 400ms ease;
	transition:transform 400ms ease;
	-webkit-transition-property:-webkit-transform, left, right;
	-webkit-backface-visibility:hidden
}
.sb-hide {
	display:none
}
.sb-slidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sb-slidebar ul a {
	color: #919191;
	padding: 10px 20px;
	border-bottom: 1px solid #292929;
	display: block;
	position: relative;
}
.sb-slidebar ul a:hover {
	color: #EF4A43;
}
.sb-slidebar ul a:after {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.sb-slidebar ul a:hover:after {
	width: 3px;
	height: 100%;
	background: #EF4A43;
	left: 0;
	top: 0;
	position: absolute;
	content: '';
}
.sb-slidebar ul li {
	position: relative;
}
.sb-slidebar ul ul li a {
	padding-left: 40px;
}
.sb-slidebar ul ul ul li a {
	padding-left: 60px;
}
.sb-slidebar ul ul li a:before {
	content: '\f105';
	font-family: 'FontAwesome';
	position: absolute;
	left: 20px;
	top: 10px;
}
.sb-slidebar ul ul ul li a:before {
	left: 40px;
}
.sb-slidebar ul li .submenu {
	position: absolute;
	width: 40px;
	height: 44px;
	padding-top: 13px;
	text-align: center;
	background: #292929;
	right: 0;
	top: 0;
}
.sb-slidebar ul li .submenu:hover {
	cursor: pointer;
}
.sb-slidebar ul ul {
	display: none;
}
